.nav{
    background-color: #DD7230;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 75px;
}

.link{
    font-size: 28px;
    text-decoration: none;
    color: #FFFCF9;
}

.cart-button{
    background-color: #DD7230;
    border: none;
}

.left {
    display: flex;
    gap: 16px;
}