.nav{
    background-color: #DD7230;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1445px;
    height: 75px;
}

.link{
    font-size: 28px;
    text-decoration: none;
    color: #FFFCF9;
}

.cart-button{
    background-color: #DD7230;
    border: none;
}

.left {
    display: flex;
    gap: 16px;
}