.card-image{
    height: 100px;
    width: 100px;
    padding: 16px;
}

.product-grid{
    display: grid;
    grid-template-columns: repeat(5, 200px);
    gap: 80px;
    width: 1445px;
    margin-left: 100px;
}